@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');   

@mixin shadow {
    box-shadow: 2px 1px 8px -3px #000000;
} 
@mixin gradient {
    background-image: linear-gradient(#FF79DA,#9356DC);
    }
@mixin gradient_coeur {
    color: linear-gradient(#FF79DA,#9356DC);
}


$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;

/*générales*/
*,::before,
::after{
    box-sizing: border-box;
}

h2{
    padding: 20px 20px 20px 20px;
    font-size: 27px;
    font-weight: bold;  
}


body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

/* page de chargement*/
    & .loading {
        position: fixed;
        width: 100%;
        height: 100%;
        background: $primary;
        display: flex;
        justify-content: center;
        align-items:center ;
        color: $secondary;
        z-index: 4;
        opacity: 1;
        animation: loading_spiner 200ms linear forwards;
        animation-delay: 2s;
      } 
      }
      
    @keyframes loading_spiner {
      0%{
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0);
        opacity: 0;
      }
    
}
/*Entête*/
header {
    font-size: 30px;
    font-family: 'Shrikhand', Cursive;
    text-align: center;
    box-shadow: 0px 3px 3px 1px #d7d7d7;
    padding: 5px;
    position: relative;
    }

.city {
    background-color: #f3f3f3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 15px 0px 15px 0px;
    color: #3d3c3c;
    & i {
        align-items: center;
        align-content: center;
    }
    & input {
        background-color: #f3f3f3;
        border: none;
        width: 150px;
        font-size: 16px;
        text-align: center;
        overflow: visible;
        color:#3d3c3c;
        & ::placeholder {
            color:#3d3c3c;
            opacity: 1;
        }
    }
}
/*partie localisation*/
.explorer {
        background-color:#fafafa;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;

    & p {
        font-size: 20px;
        padding-bottom: 30px;
        color:grey
        }
        
    & button {
        color: white;
        font-weight: 300;
        font-size: 16px;
        padding: 15px 30px;
        @include gradient;
        border: none;
        border-radius: 40px;
        box-shadow: 2px 1px 8px -3px #000000;
        transition: transform 400ms;
    }
    & button:hover {
        opacity: 0.8;
        box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.75);
    }
}
/*partie fonctionnement*/
nav {
    padding: 50px 0px 30px 0px;
    & ::placeholder {
        font-size: 27px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    & .fonctionnement {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        padding-left: 20px;
        }

    & .carte_fonctionnement {
        display: flex;
        align-items: center;
        width: 30%;
        background-color: #f6f6f6;
        padding: 16px 30px;
        margin: 15px 0px;
        border-radius: 15px;
        @include shadow; 
        }
        & span {
            color: white;
            border-radius: 100px;
            background-color:$primary;
            padding: 5px 10px;
            margin-left: -40px;
        } 
        & i {
            padding: 0px 25px;
        }
        & .carte_fonctionnement:hover{
            background-color:#fcf1ff;
            & i{
                color:$primary;
            }
        }
}
/*partie comprennant les cartes restaurant*/
section{
    background-color: #d7d7d7;
    padding-bottom: 40px;
    padding-top: 40px;

& .agencement_des_cartes_restaurant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

& .carte_restaurant_nouveau {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: white;
        height: 280px;
        @include shadow;
        position: relative;
        margin: 10px 20px;
        width:45% ;
        & a {
            text-decoration: none;
            color: #000000;
            }
    }
        & .nouveau {
            background-color: #99E2D0;
            padding: 5px 10px 5px 10px;
            color:#2d8f76;
            width: 80px;
            border-radius: 2px;
            justify-content: end;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 15px ;
            font-weight: 500;
        }
        & img {
            object-fit: cover;
            height: 200px;
            border-radius: 15px 15px 0px 0px;
            width: 100%;
        }
        
        & .agencement {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            & .agencement_texte{
                display: flex;
                flex-direction: column;
            }
                & h3 {
                    font-weight: bold;
                    padding: 10px;
                    }
                & p {
                    padding-left: 10px;
                    }

/*annimation coeur*/           
            & .coeur {
                    font-size: 27px;
                    margin-right: 25px;
                    }
                & .far {
                    position: relative;
                    margin-right: -34px;
                }
                & .fas {
                    opacity: 0;
                    background-clip: text;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(#FF79DA,#9356DC);
                    transition: transform 450ms, background-image 300ms 150ms;
                }

                & .fas:hover{
                opacity: 1;
                transform: scale(1.2);
                }
                & .far :hover{
                    opacity: 0;
                    cursor: pointer;
                }
}

/*partie footer*/
footer{
    color: whitesmoke;
    background-color:rgb(39, 35, 35);
    padding-left: 20px;
    padding-bottom: 20px;
    & h5 {
        padding: 20px 0px;
        font-size: 18px;
        font-family: 'Shrikhand', Cursive;
        }
    & .it{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        
    }
       & i{
        font-size: 12px;
        padding-right: 5px;
        }
    & div {
        padding-bottom: 10px;
    }    
    & a {
        text-decoration: none;
        color: whitesmoke;
        padding-bottom: 20px;
    }
}

/*partie mobile*/
@media screen and (max-width: 800px) {
    main{
   & .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;    
        & .carte_fonctionnement {
            width: 95%; 
        }   
    }   
 sectoin {
     position: absolute;
 }
            & .agencement_des_cartes_restaurant{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
                & .carte_restaurant_nouveau{
                width:95%;
                margin: 10px 10px;
                display: block;
               }
            }
        }
    }
